@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.navbar {
    background: linear-gradient(to right, #003366, #0055aa); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
    padding: 15px;
}
body {
    padding-top: 0px; /* JavaScript otomatik ayarlayacak */
    transition: padding-top 0.3s ease-in-out; /* Yumuşak geçiş efekti */
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    padding: 0; /* Padding tamamen sıfır */
    margin: 0;  /* Margin tamamen sıfır */
    height: 150px;
    width: 190px;
    display: block; /* Gereksiz boşlukları engeller */
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.custom-button {
    position: relative;
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: 700; /* Daha kalın font */
    font-family: 'Poppins', sans-serif; /* Google Font eklendi */
    letter-spacing: 0.5px; /* Harfler arasında boşluk */
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 5px 5px 0px navy;
}

.custom-button:hover {
    transform: translateY(-3px);
}

/* Mobil uyumluluk */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }
}
